<div layout="row" layout-align="center center">
  <div flex-xs flex-gt-xs="50">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline pointer" ui-sref="newslist()">< Back to list</span>
        </md-card-title-text>
      </md-card-title>
      <img ng-src="{{singleitem.media[0].url}}" class="md-card-image" ng-if="singleitem.media[0].url">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" ng-bind-html="singleitem.title"></span>
          <span class="md-subhead" ng-bind-html="singleitem.createdAt | date : 'dd.MM.yyyy'"></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p ng-bind-html="singleitem.body">
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
